.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
.olxHeader{
  display: flex;
  justify-content: space-between;
  background-color: #f7f8f8;
  width: 100%;

}

.miniHeader {
  display:flex;
  align-items: center;
  justify-content: space-between;

}

.margin-left-20{
  margin-left: 20px;
}



.customButton{
  background-color:aliceblue;
  border: 2px solid rgb(61, 55, 55);
  border-radius: 10px;
}

.searchbar{
  border: 4px solid rgb(61, 55, 55);
  border-radius: 3px;

  background-color: white;
  width: 40%;
  display: flex;
}

.searchbarInput{
  border: none;
  width: 93%;
  margin: 0;
  padding: auto;


}

.searchbarButton{
  width: 7%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

 */








